<div class="body">
  <div class="container-auth">
    <div class="screen" *ngIf="!loading">
      <div class="screen__content">
        <img src="https://res.cloudinary.com/dytlbyofu/image/upload/v1722354689/Trabajo/logo-amigos_avegun.png" class="logo"
          width="100px" alt="" />

        <form class="login" [formGroup]="form">
          <mat-form-field class="login__field" appearance="outline" floatLabel="always">
            <mat-label>CORREO ELECTRONICO</mat-label>
            <input matInput placeholder="" value="" formControlName="email" />
          </mat-form-field>
          <mat-form-field class="login__field" appearance="outline" floatLabel="always">
            <mat-label>CONTRASEÑA</mat-label>
            <input matInput formControlName="password" [type]="hide ? 'password' : 'text'" />
          </mat-form-field>

          <button class="button login__submit" (click)="login()">
            <span class="button__text">Iniciar Sesión</span>
          </button>

          <button (click)="navigateToRegister()">
            <span class="button_text">Registrarse</span>
          </button>

          <div class="login_version">CCAMIGOS v0.0.1</div>
        </form>
      </div>
    </div>
    <div class="screen" *ngIf="loading">
      <app-loading></app-loading>
    </div>
  </div>
</div>