<div class="modal" tabindex="-1" role="dialog" *ngIf="isVisible">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Actualizar Estado del Pago</h5>
          <button type="button" class="close" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <img src="https://sgp-web.nyc3.cdn.digitaloceanspaces.com/CCAmigos/Clientes/${this.paymentId}" alt="Payment Image" class="img-fluid mb-3">
          <p>Seleccione el nuevo estado del pago:</p>
          <!-- <button class="btn btn-success" (click)="updateStatus('pagado')">Pagado</button>
          <button class="btn btn-warning" (click)="updateStatus('pendiente')">Pendiente</button>
          <button class="btn btn-danger" (click)="updateStatus('error-pago')">Pago Incorrecto</button> -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="closeModal()">Cerrar</button>
        </div>
      </div>
    </div>
</div>
  
  