<div class="body">
  <div class="container-auth">
    <div class="screen" *ngIf="!loading">
      <div class="screen__content">
        <img src="https://res.cloudinary.com/dytlbyofu/image/upload/v1722354689/Trabajo/logo-amigos_avegun.png" class="logo"
          width="70px" alt="" />

        <form class="login" [formGroup]="form">
          
          <!-- Name -->
          <mat-form-field
            class="login__field"
            appearance="outline"
            floatLabel="always"
          >
            <mat-label>Nombre Usuario</mat-label>
            <input matInput formControlName="name" />
          </mat-form-field>
          
          <!-- Correo Electronico -->
          <mat-form-field
            class="login__field"
            appearance="outline"
            floatLabel="always"
          >
            <mat-label>CORREO ELECTRONICO</mat-label>
            <input matInput formControlName="email" />
            <mat-error *ngIf="form.get('email')?.invalid && form.get('email')?.touched">
              Ingresa un correo electrónico válido.
            </mat-error>
          </mat-form-field>
          
          <!-- Password -->
          <mat-form-field
            class="login__field"
            appearance="outline"
            floatLabel="always"
          >
            <mat-label>CONTRASEÑA</mat-label>
            <input
              matInput
              formControlName="password"
              [type]="hide ? 'password' : 'text'"
            />
            <mat-error *ngIf="form.get('password')?.invalid && form.get('password')?.touched">
              La contraseña es obligatoria.
            </mat-error>
          </mat-form-field>

          <!-- Select de Eventos -->
          <mat-form-field class="login__field" appearance="outline" floatLabel="always">
            <mat-label>Evento</mat-label>
            <mat-select formControlName="eventId">
              <mat-option *ngFor="let evento of events" [value]="evento.id">{{ evento.nombre_proyecto }}</mat-option>
            </mat-select>
            <mat-error *ngIf="form.get('eventId')?.invalid && form.get('eventId')?.touched">
              Selecciona un evento.
            </mat-error>
          </mat-form-field>

          <button class="button register__submit" (click)="register()">
            <span class="button__text">Registrarse</span>
          </button>

        </form>
      </div>
    </div>
    <div class="screen" *ngIf="loading">
      <app-loading></app-loading>
    </div>
  </div>
</div>
