<!-- Agrega el componente del spinner -->
<ngx-spinner></ngx-spinner>

<mat-toolbar class="title">
  <span>Clientes</span>
  <div class="form-group">
    <!-- <label for="dateSelect">Seleccione una fecha:</label>
    <select id="dateSelect" class="form-control" [(ngModel)]="selectedDate" (change)="onDateChange()">
      <option *ngFor="let date of availableDates" [value]="date">{{ date }}</option>
    </select> -->
  </div>
  <div class="item-spacer"></div>
  <div class="input-container">
    <mat-icon class="icon">search</mat-icon>
    <input
      type="text"
      class="search-input"
      (keyup)="applyFilter($event)"
      #input
    />
  </div>
</mat-toolbar>
<br />

<div class="container">
  <div class="card" *ngIf="!loading">
    <div class="mat-elevation-z8">
      <div class="contenedor_botones">
          <button class="button_update" mat-raised-button color="primary" (click)="updateAllStatus()">Cambiar Pagado</button>
          <button class="button_delete" mat-raised-button color="accent" (click)="deleteAllUsers()">Eliminar Usuarios</button>
          <button type="button" class="button_export" (click)="exportToExcel()">Exportar a Excel</button>
      </div>
      <div class="table-container-big">
        <table mat-table [dataSource]="dataSource" matSort>
          <tr
            mat-header-row
            *matHeaderRowDef="displayedColumns; sticky: true"
          ></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          <!-- Box -->
          <ng-container matColumnDef="box" >
            <div>
              <th mat-header-cell
                class="primary text_center table-header"
                *matHeaderCellDef
                mat-sort-header="box"
              >
                <input type="checkbox" class="text_center" (change)="selectAll($event)" [checked]="isAllSelected" />
              </th>
              <td mat-cell *matCellDef="let item" class="box_class">
                <input type="checkbox" [(ngModel)]="item.selected" (change)="checkIfAllSelected()" />
              </td>
            </div>
          </ng-container>
          <!-- Nombre -->
          <ng-container matColumnDef="name">
            <th
              mat-header-cell
              class="primary text_center"
              *matHeaderCellDef
              mat-sort-header="name"
            >
              Nombre
            </th>
            <td mat-cell *matCellDef="let item" style="width: 30%">
              {{ item.nombre }}
            </td>
          </ng-container>
          <!-- Edad -->
          <ng-container matColumnDef="edad">
            <th
              mat-header-cell
              class="primary text_center "
              *matHeaderCellDef
              mat-sort-header="edad"
            >
              Edad
            </th>
            <td mat-cell *matCellDef="let item" style="width: 5%" class="text_center">
              {{ item.edad }}
            </td>
          </ng-container>
          <!-- Iglesia -->
          <ng-container matColumnDef="iglesia">
            <th
              mat-header-cell
              class="primary text_center"
              *matHeaderCellDef
              mat-sort-header="iglesia"
            >
              Iglesia
            </th>
            <td mat-cell *matCellDef="let item" style="width: 30%">
              {{ item.iglesia }}
            </td>
          </ng-container>
          <!-- email -->
          <ng-container matColumnDef="email">
            <th
              mat-header-cell
              class="primary text_center"
              *matHeaderCellDef
              mat-sort-header="email"
            >
              Correo
            </th>
            <td mat-cell *matCellDef="let item" style="width: 30%">
              {{ item.email }}
            </td>
          </ng-container>
          <!-- Telefono -->
          <ng-container matColumnDef="telefono">
            <th
              mat-header-cell
              class="primary text_center"
              *matHeaderCellDef
              mat-sort-header="telefono"
            >
              Telefono
            </th>
            <td mat-cell *matCellDef="let item" style="width: 30%">
              {{ item.telefono }}
            </td>
          </ng-container>
          <!-- Instrumento -->
          <ng-container  matColumnDef="instrumento">
            <th
              mat-header-cell
              class="primary text_center"
              *matHeaderCellDef
              mat-sort-header="instrumento"
            >
              Instrumento
            </th>
            <td mat-cell *matCellDef="let item" style="width: 30%" class="text_center">
              {{ item.instrumento }}
            </td>
          </ng-container>
          <!-- Imagen Pago -->
          <ng-container  matColumnDef="ruta_pago">
            <th
              mat-header-cell
              class="primary text_center"
              *matHeaderCellDef
              mat-sort-header="ruta_pago"
            >
              Ver Pago
            </th>
            <td mat-cell *matCellDef="let item" style="width: 30%">
              <button class="boton_pago" mat-button (click)="openModal(item)">Pago</button>
              <!-- <a href="https://sgp-web.nyc3.cdn.digitaloceanspaces.com/CCAmigos/Clientes/{{item.ruta_pago}}" target="_blank">{{ item.ruta_pago }}</a> -->
            </td>
          </ng-container>
          <!-- Fecha de Registro -->
          <ng-container  matColumnDef="fecha_registro">
            <th
              mat-header-cell
              class="primary text_center"
              *matHeaderCellDef
              mat-sort-header="fecha_registro"
            >
              Fecha Registro
            </th>
            <td mat-cell *matCellDef="let item" style="width: 30%">
              {{ item.fecha_registro }}
            </td>
          </ng-container>
          <!-- Acciones -->
          <ng-container  matColumnDef="acciones">
            <th
              mat-header-cell
              class="primary text_center"
              *matHeaderCellDef
              mat-sort-header="acciones"
            >
              Estatus Pago
            </th>
            <td *matCellDef="let item" style="width: 30%">
              <!-- Botones estado del Pago -->
              <div class="buttons_pay">
                <button
                  *ngIf="item.id_pago == 1" 
                  class="pago_pendiente" 
                  matTooltip="Pago Pendiente"
                >
                </button>
                <button 
                  *ngIf="item.id_pago == 2" 
                  class="pago_correcto"  
                  matTooltip="Pago Correcto"
                >
                </button>
                <button 
                  *ngIf="item.id_pago == 3" 
                  class="pago_incorrecto"
                  matTooltip="Pago Incorrecto" 
                >
                </button>
              </div>
            </td>
          </ng-container>
          <!-- Eliminar Usuario -->
          <ng-container matColumnDef="status">
            <th
              mat-header-cell
              class="primary text_center"
              *matHeaderCellDef
              mat-sort-header="status"
            >
              Status
            </th>

            <td mat-cell *matCellDef="let item" style="width: 15%">
              <a
                *ngIf="item.estatus == 1"
                class="btnAction"
                (click)="changeStatusClient(false, item)"
                style="color: var(--primary)"
              >
                <span class="status-icon checked"></span>
              </a>
              <a
                *ngIf="item.estatus == 0"
                class="btnAction"
                (click)="changeStatusClient(true, item)"
                style="color: var(--primary)"
              >
                <span class="status-icon unchecked"></span>
              </a>
            </td>
          </ng-container>
        </table>
      </div>
    </div>
  </div>
  <div class="card" *ngIf="loading">
    <app-loading></app-loading>
  </div>
</div>
