.buttons_pay {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.pago_correcto {
    background-image: url('../../../../assets/img/2.png');
    background-repeat: no-repeat;
    background-size: 40px 40px; /* Tamaño de la imagen */
    background-position: center;
    height: 50px;
    width: 50px;
    border: none; /* Sin borde para evitar tapar las líneas de la tabla */
    background-color: transparent; /* Fondo transparente */
    display: inline-block; /* Comportamiento inline-block */
    vertical-align: middle; /* Centrando verticalmente dentro de contenedores inline */
    margin: 0 auto; /* Centrando el botón dentro de la celda de la tabla */
    outline: none; /* Remover el outline para no tapar las líneas */
    cursor: pointer;
}
.pago_pendiente {
    background-image: url('../../../../assets/img/3.png');
    background-repeat: no-repeat;
    background-size: 40px 40px;  /* Tamaño de la imagen */
    background-position: center;
    height: 50px;
    width: 50px;
    border: none; /* Sin borde para evitar tapar las líneas de la tabla */
    background-color: transparent; /* Fondo transparente */
    display: inline-block; /* Comportamiento inline-block */
    vertical-align: middle; /* Centrando verticalmente dentro de contenedores inline */
    margin: 0 auto; /* Centrando el botón dentro de la celda de la tabla */
    outline: none; /* Remover el outline para no tapar las líneas */
    cursor: pointer;
  }
.pago_incorrecto {
    background-image: url('../../../../assets/img/1.png');
    background-repeat: no-repeat;
    background-size: 40px 40px;  /* Tamaño de la imagen */
    background-position: center;
    height: 50px;
    width: 50px;
    border: none; /* Sin borde para evitar tapar las líneas de la tabla */
    background-color: transparent; /* Fondo transparente */
    display: inline-block; /* Comportamiento inline-block */
    vertical-align: middle; /* Centrando verticalmente dentro de contenedores inline */
    margin: 0 auto; /* Centrando el botón dentro de la celda de la tabla */
    outline: none; /* Remover el outline para no tapar las líneas */
    cursor: pointer;
}
.boton_pago {
    cursor: pointer;
    background-color: rgb(59, 177, 59);
    color: #ffffff !important;
    width: 30px;
    height: 25px;
    border-radius: 5px;
    text-transform: uppercase;
  }
.mat-cell .boton_pago {
    cursor: pointer;
    background-color: rgb(59, 177, 59);
    color: #ffffff;
    width: 30px;
    height: 25px;
    border-radius: 5px;
    text-transform: uppercase;
}

/* Contenedor del ícono de estado */
.status-icon {
    display: inline-block;
    width: 24px; /* Ajusta el tamaño según tus necesidades */
    height: 24px; /* Ajusta el tamaño según tus necesidades */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  /* Ícono para el estado 'checked' */
  .status-icon.checked {
    background-image: url('../../../../assets/img/5.png'); /* Ruta a la imagen de fondo para el estado 'checked' */
  }
  
  /* Ícono para el estado 'unchecked' */
  .status-icon.unchecked {
    background-image: url('../../../../assets/img/5.png'); /* Ruta a la imagen de fondo para el estado 'unchecked' */
}

.button_export {
  padding: 8.3px 10px;
  background-color: #4cca11;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  margin-top: 10px;
  margin-right: 5px;
}
.button_update{
  margin-top: 10px;
  text-transform: uppercase;
}
.button_delete{
  margin-top: 10px;
  text-transform: uppercase;
}
.text_center {
  text-align: center;
  text-transform: uppercase;
}
.button_export:hover {
  background-color: #18b300;
}
.contenedor_botones{
  display: flex;
  gap: 4px;
  flex-direction: row;
  justify-content: flex-end;
  align-content: flex-end;
}

@media (max-width: 768px) {  
  .contenedor_botones {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
  } 
  .button_export{
    width: 70%;
  }
  .button_update{
    width: 70%;
  }
  .button_delete{
    width: 70%;
  }
}

.table-header {
  text-align: center;
}