.contenedor_botones {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 3;
    justify-content: center;
    align-items: center;
}
@media (max-width: 768px) {  
    .botones {
        display: flex;
        width: 100%;
        flex-direction: column;
        margin: 0;
        justify-content: center;
        align-items: center;
    }
}
.contenedor_boton_correcto {
    width: 150px;
    height: 40px;
    border: 1px solid #3eab38;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    margin: 5px;
}
.contenedor_boton_correcto:hover {
    background-color: #269f20c3;
    color: #ffffff;
}
.text_boton_correcto{
    width: 100%;
    text-transform: uppercase;
    color: #3eab38;
}
.contenedor_boton_pendiente {
    width: 150px;
    height: 40px;
    border: 1px solid #e59f36;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    margin: 5px;
}
.contenedor_boton_pendiente:hover  {
    background-color: #d98f1f;
    color: #ffffff;
}
.text_boton_pendiente{
    text-transform: uppercase;
    color: #e59f36;
}
.contenedor_boton_error {
    width: 150px;
    height: 40px;
    border: 1px solid #ab3838;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    margin: 5px;
}
.contenedor_boton_error:hover  {
    background-color: #981212;
    color: #ffffff;
}
.text_boton_error{
    width: 100%;
    text-transform: uppercase;
    color: #ab3838;
}
.pago_incorrecto {
    background-image: url('../../../../assets/img/1.png');
    background-repeat:no-repeat;
    height:50px;
    width:50px;
    background-size: 45px 40px;
    background-position:center;
    border: none;
    background-color: transparent;
}
.pago_incorrecto:hover {
    cursor: pointer;
}


.text_boton_correcto:hover {
    color: #fff;
    width: 100%;
}
.text_boton_error:hover {
    width: 100%;
    color: #fff;
}
.text_boton_pendiente:hover {
    width: 100%;
    color: #fff;
}

button .contenedor_boton_correcto {
    margin: 0;
}

.contenedor_imagen_pago {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.imagen_Info {
    text-align: center;
    text-transform: uppercase;
}

.imagen_container {
    width: 200px;
    height: 200px;
}

.imagen_info{
    max-width: 100%;
}